/* Header pour chaque page*/

body{
    color: white;
    font-family: "Helvetica", "Arial", sans-serif;
}

.logo {
  height: 220px;
  margin-left: 40%;
  width: 234px;
}

.tete{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rubrique {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  margin-left: 10%;
  gap: 56px;
}
.hoverrub:hover{
   color: #C5A643;
}

.user{
    font-size: 42px;
   color: #C5A643;
}

/*FOOTER*/

.footer {
    background-color: #000;
    color: #C5A643;
    padding: 40px 20px 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-top: 60px;
  }
  
  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  
  .footer-logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .footer-text {
    max-width: 500px;
    font-size: 16px;
    line-height: 1.5;
    color: white;
  }
  
  .footer-socials {
    margin: 25px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .social-icon {
    font-size: 24px;
    color: white;
    transition: transform 0.3s, color 0.3s;
  }
  
  .social-icon:hover {
    color: #C5A643;
    transform: scale(1.2);
  }
  
  .footer-bottom {
    font-size: 14px;
    color: #aaa;
  }
  

.link{
  color: white;
}

/* Principal*/ 

/* Structure globale */
.header {
  background-color: black;
  padding: 40px;
  color: white;
  font-family: 'Arial', sans-serif;
}

/* Top : logo + menu */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}


.logo {
  width: 175px;
  height: auto;
  margin-left: 2%;
}

.brand-name {
  font-size: 24px;
  color: #FFD700;
}

.nav-menu {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-menu a:hover {
  color: #FFD700;
}

/* Contenu principal */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.text-section {
  max-width: 500px;
}

.text-section h2 {
  font-size: 32px;
  color: #fff;
  margin-bottom: 20px;
}

.text-section p {
  font-size: 27px;
  margin-bottom: 30px;
}

.cta-button {
  background-color: #FFD700;
  color: #000;
  padding: 18px 34px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.3s;
}

.cta-button:hover {
  background-color: #fff;
}

.image-section .team-img {
  width: 887px;
  border-radius: 10px;
}
 

/* Responsive */

@media (min-width:320px) and (max-width:787px){
  
}